* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  background-color: rgba(15, 70, 87, 0.685);
  height: 100vh;
}
#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.548);
  z-index: 5;
  display: none;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 55px;
  background-color: #446182;
  display: flex;
  justify-content: space-between;
  color: white;
}
.header #logoAndTitle,
.header #tipBox,
.header #searchBox {
  display: flex;
  align-items: center;
}
.header #logoAndTitle {
  min-width: 200px;
  margin-left: 20px;
}
.header #logoAndTitle #logoBG {
  background-color: #7098BD;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  position: relative;
}
.header #logoAndTitle #logoBG #logo {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 32px;
  margin: 0 auto;
}
.header #logoAndTitle #title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.header #tipBox {
  min-width: 500px;
}
.header #tipBox #bg {
  display: flex;
  background-color: #7098BD;
  padding: 3px 10px;
  align-items: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
.header #tipBox #bg img {
  height: 28px;
}
.header #tipBox #bg #tipText {
  margin-left: 5px;
  font-size: medium;
}
.header #searchBox {
  min-width: 300px;
  margin-right: 20px;
}
.header #searchBox #input {
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px #fff;
  border-radius: 15px;
  padding: 5px;
  width: 200px;
}
.header #searchBox input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #eee;
}
.header #searchBox :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #eee;
}
.header #searchBox ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #eee;
}
.header #searchBox input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eee;
}
.header #searchBox input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #eee;
}
.header #searchBox #btn {
  color: white;
  margin-left: 20px;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  background-color: #7098BD;
}
.container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 55px);
  color: white;
}
.container #menuBox {
  background-color: #537297;
  width: 250px;
}
.container #menuBox #menu {
  width: 100%;
}
.container #menuBox #menu li {
  width: 100%;
  background-color: #4B688A;
  height: 60px;
}
.container #menuBox #menu li .liBox {
  width: 70%;
  margin: 0 auto;
  line-height: 60px;
}
.container #menuBox #menu li .liBox img {
  width: 20px;
  height: 26px;
  vertical-align: middle;
}
.container #menuBox #menu li .liBox a {
  margin-left: 5px;
  color: white;
}
.container #menuBox #menu li:hover {
  position: relative;
  background-image: linear-gradient(120deg, #7da7eb 0%, #c2e9fb 100%);
}
.container #menuBox #menu .selectedLi {
  position: relative;
  background-color: #7098BD;
}
.container #menuBox #menu .selectedLi #selected {
  position: absolute;
  left: 0px;
  background-color: #fff;
  height: 100%;
  width: 8px;
}
.container .contentBox {
  background-color: #eee;
  width: 100%;
  padding: 12px;
}
.container .contentBox .content {
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: 100%;
}
.container .contentBox .content #bookManagerArea {
  width: 100%;
  height: auto;
  display: none;
}
.container .contentBox .content #bookManagerArea .containerTable {
  width: 100%;
  color: #446182;
}
.container .contentBox .content #bookManagerArea .containerTable #toolBar {
  padding: 5px;
}
.container .contentBox .content #bookManagerArea .containerTable #toolBar div {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  background-color: #7098BD;
  padding: 0 15px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin-left: 15px;
}
.container .contentBox .content #bookManagerArea .containerTable #seperator {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(120deg, #3be8ff 0%, #85f146 25%, #af5df1 50%, #ee6e75 75%, #51a6f5 100%);
}
.container .contentBox .content #bookManagerArea .containerTable #tableBook {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.container .contentBox .content #bookManagerArea .containerTable #tableBook tr th,
.container .contentBox .content #bookManagerArea .containerTable #tableBook tr td {
  border: solid 1px #7098BD;
}
.container .contentBox .content #bookManagerArea .containerTable #tableBook th {
  height: 50px;
  background-color: #4B688A;
  color: white;
}
.container .contentBox .content #bookManagerArea .containerTable #tableBook td {
  height: 40px;
}
.container .contentBox .content #bookManagerArea .containerTable #tableBook .manipulateBox {
  display: flex;
}
.container .contentBox .content #bookManagerArea .containerTable #tableBook .manipulateBox #deleteBox {
  border-right: solid #eee 1px;
  flex: 1;
}
.container .contentBox .content #bookManagerArea .containerTable #tableBook .manipulateBox #editBox {
  flex: 1;
}
.container .contentBox .content #inputBox {
  position: absolute;
  width: 600px;
  display: none;
  padding: 10px;
  left: calc(50% - 300px);
  top: 50px;
  background-color: white;
  color: black;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  z-index: 999;
}
.container .contentBox .content #inputBox #inputTable input {
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px #000000;
  border-radius: 20px;
  padding: 5px;
  width: 200px;
  margin-top: 5px;
}
.container .contentBox .content #inputBox #inputTable #type {
  width: 20px;
}
.container .contentBox .content #inputBox #inputTable #introduceBox textarea {
  padding: 10px;
  height: 300px;
  width: 400px;
  resize: none;
  border: solid 2px #000000;
  border-radius: 20px;
}
.container .contentBox .content #inputBox #inputTable .title {
  width: 100px;
}
.container .contentBox .content #inputBox #controlBox {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.container .contentBox .content #inputBox #controlBox input {
  color: white;
  margin-left: 20px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #7098BD;
}
.container .contentBox .content #myBookselfArea {
  width: 100%;
  height: 100px;
  background-color: #446182;
  display: none;
}
